body {
    background-image: url(Patrón\,\ Graphic\,\ La\ Luz\ Imágenes\ de\ fondo\ gratuitas\,\ Diseño\ Arte\ Fondos\ De\ Pantalla\ Textura\ Antecedentes\ Foto\ de\ fondo\ PNG\ y\ vectores.jpeg);
}
.navigationbar {
    background-color: brown;
    width: 500in;
    height: 500in;
}